/* = Tabs
========================= */
#tabs ul {
	margin:0;
	list-style: none;
}
#tabs li {
	padding:.75em;
	text-align: center;
	display:block;
	border:1px solid #ccc;
	border-bottom:0;
	background:#eee;
}

@media screen and (min-width: 720px) {
	#tabs li  {
		float:left;
		margin-right:1em;
	}
}

#tabs .panel {
	border:1px solid #ccc;
	clear:both;
	padding:1em;
}#tabs .ui-state-active {
	background:#fff;
}#tabs a {
	text-decoration:none;
}

b {
	font-weight:bold;
}



/* = Fixtures Live Tables
========================= */

.league_details_header {
	margin-bottom:1em;
}

.league_details_header figure {

	margin:0 auto;
}

.league_details_header  {
	font-size: 130%;
	overflow: hidden;
	zoom: 1;
	line-height:1.1;
	text-align: center;
}

.fl_table {
	border-collapse: separate;
	width:100%;
	margin-bottom:2em;
}.fl_table tr td,
	.fl_table tr th {
	padding:.5em;
}.fl_table tr:nth-of-type(2n) td {
	background:#eee;
}.fl_table.fixtures td.home {
	width:40%;
}.fl_table.fixtures td.result {
	width:20%;
	text-align: center;
}.fl_table.fixtures td.away {
	width:40%;
	text-align: right;
}.fl_table.fixtures td.bye {
	text-align:center;
}.fl_table td.walkover {
	text-align: center;
	font-size:90%;
} 

.fl_table .team-color {
	width:15px;
	height:15px;

	display: inline-block;
	margin-right: .5em;
	border:1px solid #000;
}

.fl_table .fa {
	font-size:140%;
}

.fl_table .promotion_line td {
	border-top:2px solid red;
}

.fl_table .promotion_possible_line td {
	border-top:2px dashed red;
}

.fl_table  td.result-win {
	background:green !important;
	color:#fff;
}

.fl_table  td.result-loss {
	background:#900 !important;
	color:#fff;
}

.fl_table  td.result-draw {
	background:#333 !important;
	color:#fff;
}

.fl-table.team-details {
	font-size:90%;
}

.fl-table.cups_list td,
.fl-table.divison_list td {
	text-align: left;
}

.micro {
	font-size:75%;
}



.division tr th:nth-of-type(6),
.division tr th:nth-of-type(7),
.division tr td:nth-of-type(6),
.division tr td:nth-of-type(7) {
	display:none;
}







@media screen and (min-width: 720px) {
	.division tr th:nth-of-type(6),
	.division tr th:nth-of-type(7),
	.division tr td:nth-of-type(6),
	.division tr td:nth-of-type(7)  {
		display:table-cell;
	}

	.league_details_header figure {
		float:left;
		max-width:100px;
		display:inline-block;
		margin-right:1em;
	}

	.league_details_header  {
		text-align: left;
		overflow: hidden;
		zoom: 1;
	}
}

/* = Widgets
========================= */

.widget_fixtures_live_navigation li.active a {
	color:#000;
}

/* = helpers
========================= */
.tac {
	text-align: center;
}

.ds {
	margin-bottom:1em;
}

/* = Map
========================= */
#venue-map img,
#map img {
	max-width: none;

}

#venue-map {
	width:100%;
	height:200px;
	margin-bottom:2em;
}

address {
	margin-bottom:2em;
}

@media screen and (min-width: 720px) {

	#venue-map {
		height:400px;

	}
}

.location-details {
	margin-bottom: 1em;
}


/* = Single League Team
========================= */
.single_team_details {
	display:block;
	overflow:hidden;
}

.single_team_info {
	margin-bottom:2em;
}

.single_team_details_logo {
	margin-bottom:1em;
}

@media screen and (min-width: 720px) {

	.single_team_details_logo {
		float:left;
		margin-right:1em;
	}

	.single_team_details {
		overflow:hidden;
		zoom:1;
	}
}


/* == Cup Viewer
====================== */
.cup_viewer {


}

.cup_viewer .slide_indexes li {
	display:block;
	text-align: center;
	border:1px solid #ccc;
	border-bottom:0;
	padding:.25em;
	background:#fff;
}

.cup_viewer .slide_indexes li a {
	display:block;
	color:#fff;
}

.cup_viewer .cup_flexi {
	clear:both;
	border:1px solid #ccc;
	padding:1em;
	
}

.cup_viewer .cup_flexi h2,
 .cup_viewer .cup_flexi  p {
 		text-align:center;
 }

 .cup_viewer .cup_flexi  p {
 	margin-bottom:1em;
 }

@media screen and (min-width: 900px) {

	.cup_viewer .slide_indexes li {
		float:left;
		margin-right:.5em;
	}
}

/* = Slides
========================= */
.cup_flexi .slides {
	margin:0;
}



@media screen and (max-width:767px) {
	 .no-mob {
	 	display:none !important;
	 }

	 .no-mob-table {
	 	display: none;
	 }
}

@media screen and (min-width:768px) {
	.no-mob {
	 	display:block;
	 }
	.no-mob-table {
	 	display: table-cell;
	 }
}
